# OBS: Se por acaso, subir o .venv antes de criar o .gitignore:
# - No terminal, abra um terminal "git bash"
# - Digite o comando: git rm -r --cached .venv
#    - Este comando só apagará o .venv do repositório, não do meu computador

# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc

# Arquivos de ambiente
.env

# Banco de dados-
db.mysql

# Pasta de anotações
Anotacoes/

Anotações.docx

Rascunhos.md